.hamburger{
  &_ring{
    height :var(--ring-radius);width :var(--ring-radius);display: inline-block;display: inline-block;position: fixed;right: 0;display: flex;justify-content: center;align-items: center;margin:5% 6%;z-index: 100;
    --ring-radius:  min(calc(var(--screen-width)*0.15),100px);
    --ring-inner-radius:calc(var(--ring-radius) * 0.7);
    --ring-border-width:calc(var(--ring-radius) * 0.01);
    .menu-open &{
      display: none;
    }
    &:after {
      content : " ";display : inline-block;width : var(--ring-inner-radius);height : var(--ring-inner-radius);border-radius : 50%;border : var(--ring-border-width) solid;border-color : var(--color5-normal) transparent #fff transparent;animation : #{$circle-rotate-animation}, #{$fade-in-animation};
    }
  }
  &_icon{
    --icon-width :  calc(var(--ring-radius) * .3);
    height : var(--icon-width);
    width : var(--icon-width);
    position: absolute;
    }
  }





