.menu {
  &_background_open {
    bottom : 0;justify-content : flex-end;left : 0;position : fixed;right : 0;top : 0;z-index : 10;display: flex;
    @include fade-in-blur-animation;
  }

  &_background_closed {
    bottom : 0;justify-content : flex-end;left : 0;position : fixed;right : 0;top : 0;z-index : 10;
    @include fade-out-blur-animation;
  }

  &_container {
    background-color : var(--color1-light);opacity : .1; z-index : 1000;
    @media #{$break1} {
      flex-basis : 67%;
    }
  }
}