:root {
  --animation-duration-100  : 100ms;
  --animation-duration-1000 : 1000ms;
  --animation-duration-200  : 200ms;
  --animation-duration-300  : 300ms;
  --animation-duration-400  : 400ms;
  --animation-duration-500  : 500ms;
  --animation-duration-600  : 600ms;
  --animation-duration-700  : 700ms;
  --animation-duration-800  : 800ms;
  --animation-duration-900  : 900ms;
    --animation-duration-1100 : 1100ms;
    --animation-duration-1200 : 1200ms;
    --animation-duration-1300 : 1300ms;
    --animation-duration-1400 : 1400ms;
    --animation-duration-1500 : 1500ms;
    --animation-duration-1600 : 1600ms;
    --animation-duration-1700 : 1700ms;
    --animation-duration-1800 : 1800ms;
    --animation-duration-1900 : 1900ms;
    --animation-duration-2000 : 2000ms;
}